_Deparsed_XSubs.pm
.idea/**
.vscode/**
aleesa-telegram-bot.pid
data/cache/**
data/config.json
data/fortune/**
data/friday/**
data/karma/**
data/telegrambot-brains/**
data/lat/**
data/image/**
vendor_perl/**
