_Deparsed_XSubs.pm
.idea/**
.vscode/**
.vstags
aleesa-telegram-bot.pid
data/cache/**
data/config.json
data/fortune/**
data/friday/**
data/gamestat/**
data/image/**
data/karma/**
data/lat/**
data/telegrambot-brains/**
vendor_perl/**
